$h1: 64px;
$h2: 56px;
$h3: 48px;
$h4: 40px;
$h5: 32px;
$h6: 24px;

$body1: 16px;
$body2: 12px;

$theme-primary: red;
$theme-secondary: blue;

$spacing: 8px;

$padding-1: 48px;
$padding-2: 40px;
$padding-3: 32px;
$padding-4: 24px;
$padding-5: 16px;
$padding-6: 8px;

$margin-1: 48px;
$margin-2: 40px;
$margin-3: 32px;
$margin-4: 24px;
$margin-5: 16px;
$margin-6: 8px;

$border-radius: 4px;
